
@import url("https://fonts.googleapis.com/css?family=Merienda:700");

.App {
  text-align: center;
}
.nav {
  margin-bottom: 50px;
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
  font-family: 'Merienda', cursive;

}

.card {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  

}